<link rel='stylesheet' href="/stylesheets/product-details.css" />
<h1>Product Details</h1>
<a href="http://localhost:3000/auth/logout"><button>Log out</button></a>
<form id="productDetails" method="POST" action="/products/update">
    <p>ID: {{product.id}}</p>
    <input type="hidden" id="productId" name="productId" value="{{product.id}}">
    <label for="nameProduct">Name:</label><br>
    <input type="text" id="nameP" name="nameProduct" value="{{product.name}}"><br><br>
    <label for="categoryId">Category_Name:</label><br>
    <select name="categoryId" id="catN">
        {{#each categories}}
        {{#if (isSelectedCategory this ../product.category)}}
        <option selected="selected" value="{{id}}">{{name}}</option>
        {{else}}
        <option value="{{id}}">{{name}}</option>
        {{/if}}
        {{/each}}
    </select>
    <br><br>
    <label for="priceProduct">Price:</label><br>
    <input type="text" id="priceP" name="priceProduct" value="{{product.price}}"><br><br>
    <button class="saveButton" onclick="updateProduct({{id}})">SAVE</button>
</form>