<link rel='stylesheet' href="/stylesheets/table-products.css" />
<h1>List of products</h1>
<table id="listProduct">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Category_Name</th>
        <th>Price</th>
        <th>View product</th>
        <th>Delete product</th>
    </tr>
    {{#each products}}
    <tr>
        <td class="id">{{id}}</td>
        <td class="name">{{name}}</td>
        <td class="categoryName">{{category.name}}</td>
        <td class="price">{{price}}</td>
        <td class="viewButton"><a href="http://localhost:3000/products/{{id}}"><button>VIEW</button></a></td>
        <td class="deleteButton"><button onclick="deleteProduct({{id}})">DELETE</button></td>
    </tr>
    {{/each}}
</table>

<script>
    function deleteProduct(id) {
        axios.delete(`http://localhost:3001/products/${id}`).then(resp => {
            location.reload();
        });
    }
</script>


{{!-- <a href="http://localhost:3000/products/{{id}}"></a>
<a href="http://localhost:3000/products/{{id}}"></a>
<a href="http://localhost:3000/products/{{id}}"></a>
<a href="http://localhost:3000/products/{{id}}"></a> --}}

{{!--
<link rel='stylesheet' href='/stylesheets/products.css' />
<p class="product-item">Products!</p>

{{#each products}}
<div class="row">
    <a href="http://localhost:3000/products/{{id}}">
        {{name}}
    </a>
</div>
{{/each}} --}}